<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main Page</title>
</head>
<body>
This is Main Page!
<hr>
{{userId}}<br>
{{authority}}<br>
</body>
</html>
